extends layout

block content
  .pure-g-r.container
    #lede.pure-u-1
      h1.title.text-center
        a(href="/")= title
      .text-center
        p.leader Wake up to all the data in your images.
          br
          br
          small.thin.muted The best image analysis API out there.  
        span.uppers
          a(data-scroll-to="docs").scroller.pad-s-1 Docs
          a(data-scroll-to="demo").scroller.pad-s-1 Demo
        p.muted.quote
          span.pure-hidden-phone #{quote} 
          br
          | made with love by <a href="http://www.bckmn.com" target="_blank">jbckmn</a>
    #docs.pure-u-1
      br
      .pure-hidden-desktop.pure-hidden-tablet.pad-s-1
        h2.text-center <a data-scroll-to="lede" class="scroller">AISLIN</a> API ROUTES
        p
          a(href="/id?i=http://#{req.host}/images/cat.jpg") /id?i=http://#{req.host}/images/cat.jpg
        p
          a(href="/id?i=http://#{req.host}/images/cat.jpg&colorCount=false") /id?i=http://#{req.host}/images/cat.jpg&colorCount=false
        p
          a(href="/cc?i=http://#{req.host}/images/cat.jpg") /cc?i=http://#{req.host}/images/cat.jpg
        p
          a(href="/id?i=http://#{req.host}/images/cat.jpg&colorCount=10") /id?i=http://#{req.host}/images/cat.jpg&colorCount=10
      table.pure-table.pure-table-horizontal.pure-hidden-phone
        caption <a data-scroll-to="lede" class="scroller">AISLIN</a> API ROUTES
        thead
          tr
            th Method
            th Route
            th Query Variables
            th Response
            th Working Example
        tr#id
          td 
            code(style="color:forestgreen;") get 
          td 
            code /id
          td 
            h3 <code>i</code> 
            ul.no-dot-list
              li <strong class="muted">Desc:</strong> Image url
              li <strong class="muted">Type:</strong> STRING
              li <strong class="emph">Required</strong>
          td JSON Object, with top-level keys of:
            ul.no-dot-list 
              li <code>identity</code> <small class="muted emph">(object)</small>
              li <code>query</code> <small class="muted emph">(object)</small>
          td
            ul.no-dot-list
              li
                a(href="/id?i=http://#{req.host}/images/cat.jpg") /id?i=http://#{req.host}/images/cat.jpg
        tr#id
          td 
            code(style="color:forestgreen;") get 
          td 
            code /cc
          td 
            h3 <code>i</code> 
            ul.no-dot-list
              li <strong class="muted">Desc:</strong> Image url
              li <strong class="muted">Type:</strong> String
              li <strong class="emph">Required</strong>
            h3 <code>colorCount</code> 
            ul.no-dot-list
              li <strong class="muted">Desc:</strong> Count of color data to return
              li <strong class="muted">Type:</strong> Integer || 'false'
              li <strong class="muted">Default:</strong> 6
              li <strong class="emph">Optional</strong>
          td JSON Object, with top-level keys of:
            ul.no-dot-list 
              li <code>colors</code> <small class="muted emph">(array)</small>
              li <code>query</code> <small class="muted emph">(object)</small>
          td
            ul.no-dot-list
              li
                a(href="/cc?i=http://#{req.host}/images/cat.jpg") /cc?i=http://#{req.host}/images/cat.jpg
              li
                a(href="/id?i=http://#{req.host}/images/cat.jpg&colorCount=10") /id?i=http://#{req.host}/images/cat.jpg&colorCount=10
    #demo.pure-u-1
      .pad-s-1
        br
        h2.text-center.uppers <a data-scroll-to="lede" class="scroller">AISLIN</a> Demo
        label 
          span.muted Input the url of an image <em>(default provided below)</em>
          input#demo-input(type="url", value="http://#{req.host}/images/cat.jpg")
        button#demo-button Analyze
        .pure-g-r
          .pure-u-1-4.pure-hidden-phone
            p Try:
              br
              button(data-demo-url="http://#{req.host}/images/cat.jpg").demo-url Cat
              br
              button(data-demo-url="http://#{req.host}/images/fang.jpg").demo-url Fang
              br
              button(data-demo-url="http://#{req.host}/images/sky.jpg").demo-url Sky
              br
              button(data-demo-url="http://#{req.host}/images/girl.jpg").demo-url Girl
          .pure-u-1-2
            #demo-resp.text-center
            #demo-colors.text-center
            img#demo-image(src="http://#{req.host}/images/favicon.png")

